@import "../../styleguide";

.layout {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}