// Breakpoints
@import "breakpoints";

// Colors
@import "colors";

// Spacing
@import "spacing";

// Utils
@import "utils";

// Animations
@import "animations";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
html,
body {
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  margin: 0;
}
