@import "../../styleguide";

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  height: 100%;
  flex: none;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;

  &--1 {
    background-color: $grey;
  }

  &--2 {
    background-color: $black;
    color: $white;
  }
  &--3 {
    background-color: $yellow;
  }
  &--4 {
    background-color: $red;
    color: $white;
  }
  &--5 {
    background-color: $blue;
  }
}
